@import "../vendor/almasaeed2010/adminlte/plugins/codemirror/theme/dracula.css";

.dark-mode .bg-red-light, .dark-mode .table-hover tbody .bg-red-light {
    background-color: #4c2626;
}

.dark-mode .bg-red-light:hover, .dark-mode .table-hover tbody .bg-red-light:hover {
    background-color: #722626;
}

.dark-mode .bg-green-light, .dark-mode .table-hover tbody .bg-green-light {
    background-color: #264c26;
}

.dark-mode .bg-green-light:hover, .dark-mode .table-hover tbody .bg-green-light:hover {
    background-color: #267226;
}

.dark-mode .btn {
    color: white;
}

.dark-mode #modal-body pre, .dark-mode pre, .dark-mode .note-btn {
    background-color: #454d55;
    color: white;
}

.dark-mode #file-list {
    background-color: #454d55;
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;
}

.dark-mode #file-list li:hover {
    background-color: #fff;
}

.dark-mode .swal2-html-container {
    color: #e9ecef
}

.dark-mode .nonessential {
    color: #939393;
}

.dark-mode a {
    color: #9696ff;
}

.dark-mode a:hover {
    color: #3232ff;
}

.dark-mode .direct-chat-text {
    background-color: transparent;
}

.dark-mode .direct-chat-text span {
    background-color: #454d55;
    border-color: #4b545c;
    color: #fff;
}

.dark-mode .direct-chat-primary .right > .direct-chat-text span {
    background-color: #3f6791;
    border-color: #3f6791;
    color: #fff;
}

.dark-mode #modalScan #scan_start {
    background-color: #454d55;
}
