.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.wrapper .main-header, .wrapper .navbar-nav .nav-link {
    background-color: #212529;
    color: white;
}

.wrapper .navbar-nav .nav-link:hover, .wrapper .navbar-nav .nav-link:focus {
    color: lightgrey;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group, .list-group.list-group-root > p .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > p > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
    padding-left: 45px;
}

.item-p {
    margin: 0;
    position: relative;
}

.item-p > span {
    position: absolute;
    right: 0;
    top: 0;
}

#reset-filter {
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}

#chat-box, .todo-list {
    height: 250px;
    overflow: auto;
    overflow-y: scroll;
}

.user-menu {
    border-left: 1px solid #fff;
}

.chat img {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.chat .online, .online {
    border: 2px solid #00a65a;
}

.chat .offline, .offline {
    border: 2px solid #dd4b39;
}

.c-pointer {
    cursor: pointer;
}

#table-checksys tr td:first-child, #table-statistic tr td:first-child {
    min-width: 300px;
}

.bg-red-light, .table-hover tbody .bg-red-light {
    background-color: #ffeeee;
}

.bg-red-light:hover, .table-hover tbody .bg-red-light:hover {
    background-color: #ffcccc;
}

.bg-green-light, .table-hover tbody .bg-green-light {
    background-color: #eeffee;
}

.bg-green-light:hover, .table-hover tbody .bg-green-light:hover {
    background-color: #ccffcc;
}

.console {
    border-radius: 2px;
    background: #2d3943;
    padding: 0 0 8px;
    color: #f0f0f0;
}

.console-title {
    padding: 8px 12px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16));
    border-bottom: 1px solid #f0f0f0;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.console .out, .console .in {
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.console .out {
    padding-top: 3px;
    height: 500px;
    display: block;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: auto;
}

.console .in input {
    padding: 5px;
    background: 0 0;
    color: #f0f0f0;
    border: none;
    outline: none;
    flex-grow: 1;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1040;
    display: none;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1041;
    background-color: rgba(0, 0, 0, .75);
}

#modal.show {
    display: block;
    opacity: 1;
}

#modal-dialog {
    z-index: 1042;
}

#modal.show #modal-dialog {
    opacity: 1;
}

#modal-body pre {
    background-color: #f2f4f5;
    color: #1f2d3d;
}

.content-header {
    padding: 5px .5rem;
}

#theme-files-label {
    font-size: 1.3em;
    margin: 1em 0;
}

#file-list {
    box-sizing: border-box;
    margin-top: 0;
    overflow: auto;
    padding: 0;
    min-height: 60vh;
    height: calc(100vh - 295px);
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-left: none;
}

#file-list li {
    margin: 4px 0;
}

ul[role=group] {
    padding-left: 0;
}

#file-list .current-file {
    margin: -4px 0 -2px;
}

[role=treeitem] li {
    position: relative;
}

#file-list li:not(.howto) > a:first-of-type {
    padding-top: 0;
}

#file-list li:not(.howto) a, .theme-editor-php .highlight {
    display: block;
    padding: 3px 0 3px 12px;
    text-decoration: none;
}

#file-list span.notice {
    margin-left: -12px;
}

#file-list .notice {
    border-top: 1px solid white;
    display: block;
    margin: 0;
    padding: 5px 8px;
    font-weight: 600;
    text-decoration: none;
}

.nonessential {
    color: #666;
    font-size: 11px;
    font-style: italic;
    padding-left: 12px;
}

.notice-info {
    border-left-color: #00a0d2;
}

.notice {
    background: #fff;
    border: 1px solid #ccd0d4;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.direct-chat-text, .direct-chat-primary .right > .direct-chat-text {
    background: none;
    border: none;
    padding: 0;
}

.direct-chat-primary .right > .direct-chat-text span {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
    float: right;
}

.direct-chat-text span {
    background: #d2d6de;
    border: 1px solid #d2d6de;
    color: #444;
    border-radius: .3rem;
    margin: 0;
    padding: 5px 10px;
    position: relative;
}

.direct-chat-timestamp {
    margin: 0 5px;
}

.hidden {
    display: none;
}

.preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
}

.preloader__loader, .preloader_scan__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#modalScan .modal-body {
    height: 500px;
    position: relative;
}

#modalScan .preloader_scan {
    background-color: transparent;
}

#modalScan #scan_start {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#modalScan #scan_start p {
    padding: 17px;
}

.add-desc:before {
    content: '*';
}

.add-desc {
    font-size: 0.8em;
    font-style: italic;
    color: #aaa;
}

.phone_flag_country, .flag_country {
    width: 18px;
    height: 18px;
}

.nav-sidebar > .nav-item .nav-icon {
    margin-right: .75rem;
}

.nav-flat.nav-sidebar > .nav-item .nav-treeview .nav-item > .nav-link, .nav-flat.nav-sidebar > .nav-item > .nav-treeview .nav-item > .nav-link {
    padding-left: 25px;
}

.card-todo {
    padding: 0;
}

.login-page {
    min-height: 100vh !important;
}

#loaderTFA {
    background-color: #00000070;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.tfaCode {
    padding: 10px;
    width: 32px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ddd;
    margin-left: 16px;
    outline: none;
    outline-offset: 0;
    font-weight: bold;
}

.tfaCode:focus, .tfaCode:active, .tfaCode:hover {
    border-color: #55f;
}

.card-body {
    position: relative;
}

.clear {
    clear: both;
}

.page-title {
    display: block;
    margin: 0.5rem 1rem 0;
    padding: 0 8px;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: .1em;
    border-bottom: 1px solid #ccc;
}

.nav-sidebar .active ul {
    display: block;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #454d55;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

@-moz-document url-prefix() {
    body {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }
}

.small-box .icon > i {
    top: 0;
    font-size: 45px;
}

.box-info {
    height: 90px;
}
