* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width: 1000px;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f4f6f9;
    min-height: calc(100vh - 100px);
    margin-bottom: 100px;
}

.wrapper {
    max-width: 1200px;
    padding-top: 30px;
    font-size: 1.2em;
    margin: 0 auto;
}

footer {
    background-color: #212529;
    border-color: #4b545c;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
    text-align: center;
    display: block;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.error-name {
    color: #324156;
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    max-width: var(--width);
    margin: 8px auto 32px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.error-name h1 {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.error-name .logo img {
    width: 64px;
    flex: 0 0 64px;
}

.error-content {
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 20px;
    border-top: 3px solid red;

    max-width: var(--width);
    margin: 0 auto 120px;
}

.card-footer {
    padding-top: 30px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.left {
    font-weight: bold;
    flex: 0 0 20%;
}

.right {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.card-footer h3 {
    width: 100%;
    text-align: center;
}

.backtrace__block {
    padding: 20px 0;
    border-top: 1px solid silver;
}

@media (max-width: 992px) {
    :root {
        --width: 600px;
    }
}

@media (max-width: 768px) {
    :root {
        --width: 400px;
    }

    .row {
        margin-top: 10px;
    }

    .error-name h1 {
        font-size: 1.2em;
    }

    .error-name .logo img {
        width: 48px;
        flex: 0 0 48px;
    }
}
