html, body, header, #intro {
    height: 100%;
}

.fix-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}

#intro {
    background: url(/ag-themes/agengine/img/bg-header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.navbar {
    background-color: #24355C;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.textarea-label {
    margin-top: 2.5rem;
}

.textarea-label label.active {
    transform: translateY(-22px) scale(0.8);
}
